<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
lis=['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [5]:
len(lis)

5

Using for loop iterate and print all the elements in the list

In [6]:
for item in lis:
  print(item)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
temp=lis[1]

Print the value of temp and type(temp)

In [8]:
print(temp)

Python

Append the element 'Java' in the list

In [9]:
lis.append('Java')
print(lis)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [10]:
lis.remove(42)
print(lis)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [11]:
colors=['Red','Blue','White']

Append the element 'Black' to colors

In [12]:

colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [13]:

colors.insert(2,'Orange')

Print the list

In [14]:
print(colors)

['Red', 'Blue', 'Orange', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [15]:
colors2=['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [16]:
colors.extend(colors2)

Print len of colors and its elements

In [17]:
len(colors)
print(colors)

['Red', 'Blue', 'Orange', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [18]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [19]:
str="Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [20]:
mdlist=[]
words=str.split(" ")
mdlist.append(words)
print(mdlist)
print(words)

[['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']]
['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [21]:
words_lower=[]
for word in (words):
  lower=word.lower()
  words_lower.append(lower)
print(words_lower)
print(lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']
world.

Check whether ‘country’ is in the list

In [22]:
'country' in mdlist
'country' in words

False

Remove the element ‘the’ from the list and print the list.

In [23]:
#mdlist.remove('the')
words.remove('The')
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [24]:
x4=words_lower[:4]

In [25]:
# print x4

print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [26]:
joined=" ".join(x4)
print(joined)

coronavirus caused lockdowns around

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [27]:
stud_grades=["A","A","B","C","C","F"]

Print the len of stud_grades

In [28]:

len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [29]:
stud_grades_set=set(stud_grades)

Print stud_grades_set.

In [30]:
print(stud_grades_set)

{'C', 'F', 'B', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [31]:
type(stud_grades)
type(stud_grades_set)
for item in stud_grades:
  print(item)
for item in stud_grades_set:
  print(item)

A
A
B
C
C
F
C
F
B
A

In [32]:

type(stud_grades_set)

set

In [33]:
type(stud_grades)

list

Add a new element ‘G’ to stud_grades_set

In [34]:

stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [36]:
stud_grades_set.add('F')

print(stud_grades_set)

{'A', 'C', 'G', 'F', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [37]:
stud_grades_set.remove('F')
print(stud_grades_set)

{'A', 'C', 'G', 'B'}

Print the elements and the length of stud_grades_set

In [38]:
print(stud_grades_set)
len(stud_grades_set)

{'A', 'C', 'G', 'B'}

4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [39]:
colors=['red','blue','orange']
fruits=['orange','grapes','apples']

Print color and fruits

In [40]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [41]:
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'red', 'orange', 'blue'}
{'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [42]:
z=colors_set.union(fruits_set)
print(z)

{'orange', 'blue', 'red', 'grapes', 'apples'}

Find the intersection of both the sets

In [43]:

z=colors_set.intersection(fruits_set)
print(z)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [44]:
z=fruits_set.difference(colors_set)
print(z)

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [45]:
temp=[17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [46]:
for item in temp:
  print(item)

17
Virat
50.0

replace first element with 11 in temp

In [47]:
temp[0]=11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [48]:
temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [50]:
for item in temp1:
  print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [51]:
temp1[0]=17
print(temp1) #gives error as tuple is immutable.

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [52]:
city=("Bangalore",28.9949521,72)

Print first element of city

In [53]:
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [54]:
city2=('Chennai',30.01,74)

Create cities which consist of city and city2

In [55]:
cities=city+city2 #merging 2 tuples

Print cities

In [56]:
print(cities)

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [57]:
type(cities[0])

str

print the type of cities

In [58]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [59]:
d={"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [60]:
d[0]

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [61]:

actor=d['actor']
print(actor)

amir

Print the type of actor

In [62]:
type(actor)

str

Store the value of d[‘list’] in new variable List.

In [63]:
list=d['list']
print(list)

[23, 32, 12]

Print the type of List.

In [64]:
type(list)

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [65]:
d1={'singer':'Kr$na','album':'Still here','genre':'hip-hop'}

Merge d1 into d.

In [66]:
d.update(d1)

print d

In [67]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [68]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [69]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [70]:
for key,value in d.items():
  print(key,'---->',value)

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [71]:
sent=input()
dict={}
for i in sent:
  dict[i]=sent.count(i)
print(dict)

abcdefghijklmnoprqstuvwxyz
{'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1, 'f': 1, 'g': 1, 'h': 1, 'i': 1, 'j': 1, 'k': 1, 'l': 1, 'm': 1, 'n': 1, 'o': 1, 'p': 1, 'r': 1, 'q': 1, 's': 1, 't': 1, 'u': 1, 'v': 1, 'w': 1, 'x': 1, 'y': 1, 'z': 1}

In [73]:
#for words in string.
string=input()
words=[]
words=string.split()
mydict={}
for key in words:
  mydict[key]=words.count(key)
print(mydict)

hello akshay
{'hello': 1, 'akshay': 1}